* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vw;
}

.flex-element {
  flex: 1;
  /*border: 1px solid black;*/
}

.sideNav {
  flex-basis: 20%;
  border-right: 3px solid rgb(219, 219, 219);
}
.mainContent {
  flex-basis: 80%;
}
